body {
    font-family: Arial, sans-serif;
    background-color: #d9a875;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    background-color: #8A5021;
    width: 88%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 3%;
    padding-bottom: 7%;
    border-radius: 12px;
    position: relative;
}
.container2 {
    text-align: center;
    background-image: url('./img/fondo.jpg'); /* Asegúrate de reemplazar 'ruta/a/tu/imagen/fondo.webp' con la ruta correcta de tu imagen */
    background-size: 100%; /* Ajusta el tamaño de la imagen al 50% del contenedor */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    width: 88%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 7%;
    border-radius: 12px;
    position: relative;
}
.container3 {
    text-align: center;
    background-image: url('./img/fondo.jpg'); /* Asegúrate de reemplazar 'ruta/a/tu/imagen/fondo.webp' con la ruta correcta de tu imagen */
    background-size: 100%; /* Ajusta el tamaño de la imagen al 50% del contenedor */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position-y: 600px;
    width: 88%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 40%;
    padding-bottom: 7%;
    border-radius: 12px;
    position: relative;
}
.container4 {
    text-align: center;
    background-image: url('./img/fondo.jpg'); /* Asegúrate de reemplazar 'ruta/a/tu/imagen/fondo.webp' con la ruta correcta de tu imagen */
    background-size: 100%; /* Ajusta el tamaño de la imagen al 50% del contenedor */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position-y: 30px;
    width: 88%;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 12px;
    position: relative;
}
.button-container {
    display: flex; /* Utiliza flexbox para alinear los botones */
    gap: 10px; /* Espacio entre los botones */
    justify-content: center; /* Centra los botones horizontalmente */
    margin-top: 20px; /* Espacio superior opcional */
}
/* clase para el logo arriba a la derecha */
.superpuesta {
    position: absolute; /* Permite que la imagen se superponga */
    top: 0; /* Ajusta la distancia desde la parte superior */
    right: 0; /* Ajusta la distancia desde la derecha */
    width: 150px; /* Ajusta el tamaño de la imagen según sea necesario */
    height: auto; /* Mantiene la proporción de la imagen */
    z-index: 10; /* Asegura que la imagen esté por encima del contenedor */
}

h1 {
    font-size: 40px;
    font-weight: bold;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    font-family: 'Arial Black', sans-serif;
    margin-bottom: 30px;
}
.h1salon2 {
    font-size: 40px;
    font-weight: bold;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    margin-bottom: 30px;
    margin-top: 60px;
}

.room-sections {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 20px;
}

.room-category {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #a67c52;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    width: 33.33%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.room-category img {
    width: 80px;
    margin-bottom: 15px;
}

.buttons {
    display: flex;
    gap: 5px;
    margin-top: 10px;
}

button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: transparent;
    color: #3b2c24;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.logout-button {
    margin-top: 15px;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #b89a7e;
    color: #3b2c24;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}
h1 {
    font-family: 'Sancreek';
}
.logout-button:hover {
    background-color: #9e8a6e;
}


/* Estilos básicos para las imágenes de números */
.nums {
    width: 50px;
    height: 50px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Efecto de hover */
.nums:hover {
    transform: scale(1.2); /* Agranda la imagen */
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3); /* Agrega una sombra */
    cursor: pointer; 
}



.mesa-info {
    background-color: #8A5021;
    padding: 10px;
    border-radius: 8px; /* Bordes redondeados */
    color: white;
    width: fit-content; /* Ajusta el tamaño del recuadro al contenido */
    margin: 10px auto; /* Centrado horizontal */
    text-align: center; /* Centrado del contenido dentro del recuadro */
}

.mesa-info-container {
    display: flex;
    flex-wrap: wrap; /* Permite que los recuadros se ajusten a varias filas */
    gap: 10px; /* Espacio entre los recuadros */
    justify-content: center; /* Centra los recuadros en la pantalla */
}

.mesa-info2 {
    width: 40%;
    margin-bottom: 10px; /* Espacio en la parte inferior para separar las filas */
    background-color: #8A5021; /* Mismo fondo para los recuadros */
    padding: 10px;
    border-radius: 8px; /* Bordes redondeados */
    color: white;
    text-align: center; /* Centra el contenido */
}




.table {
    background-color: #a67c52; 
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    width: 90%; 
    transition: transform 0.3s;
}
.tabla {
    background-color: #a67c52; 
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    width: 90%; 
}
.table img {
    width: 20%; 
    height: auto;
    margin-bottom: 10px;
    border-radius: 4px;
}

.table p {
    font-weight: bold;
    color: #3b2c24; 
    margin-top: 2%;
}

.table1 p {
    font-weight: bold;
    color: #3b2c24; 
    margin-top: 2%;
}

.logout {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #b89a7e;
    color: #3b2c24;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.logout:hover {
    background-color: #9e8a6e;
}
/* Ajustes para mostrar la cuadrícula con mesas en posiciones específicas */
.grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* Tres columnas */
    grid-template-rows: auto auto; /* Dos filas */
    gap: 20px; /* Espacio entre mesas */
    justify-items: center;
    margin: 0 auto;
    grid-template-areas: 
        "mesa1 . mesa2 . mesa3"
        ". mesa4 . mesa5 ."; /* Coloca mesa4 y mesa5 en las posiciones deseadas */
}
.grid3 {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* Tres columnas */
    grid-template-rows: auto auto; /* Dos filas */
    gap: 20px; /* Espacio entre mesas */
    justify-items: center;
    margin: 0 auto;
    grid-template-areas: 
        "mesa16 . mesa17 . mesa18"
        ". mesa19 . mesa20 ."; /* Coloca mesa4 y mesa5 en las posiciones deseadas */
}
.grid5 {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Tres columnas */
    grid-template-rows: auto auto; /* Dos filas */
    gap: 50px; /* Espacio entre mesas */
    justify-items: center;
    margin: 0 auto;
    grid-template-areas: 
        "mesa46 . mesa47"
        ". mesa49 . mesa48 ."; /* Coloca mesa4 y mesa5 en las posiciones deseadas */
}
.grid2 {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* Tres columnas */
    gap: 40px;
    justify-items: center;
    margin: 0 auto;
}
.grid4 {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* Tres columnas */
    gap: 25px;
    justify-items: center;
    margin: 0 auto;
}
.grid6 {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* Tres columnas */
    gap: 25px;
    justify-items: center;
    margin: 0 auto;
}

/* Asigna cada mesa a su área de la cuadrícula */
#mesa1 {
    grid-area: mesa1;
}

#mesa2 {
    grid-area: mesa2;
}

#mesa3 {
    grid-area: mesa3;
}

#mesa4 {
    grid-area: mesa4;
}

#mesa5 {
    grid-area: mesa5;
}
#mesa16 {
    grid-area: mesa16;
}

#mesa17 {
    grid-area: mesa17;
}

#mesa18 {
    grid-area: mesa18;
}

#mesa19 {
    grid-area: mesa19;
}

#mesa20 {
    grid-area: mesa20;
}


.grid5 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
    gap: 70px;
    justify-items: center;
    margin: 0 auto;
    grid-template-areas: 
        "mesa46 . mesa47"
        ". mesa49 . mesa48 .";
}




/* Cuadrícula de mesas */
.grid5 {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Dos columnas */
    grid-gap: 20px; /* Separación entre recuadros */
    justify-items: center;
    width: 100%;
    max-width: 600px; /* Ancho máximo para centrar la cuadrícula */
}

/* Recuadro de cada mesa */
.table1 {
    width: 200px; /* Ancho de cada recuadro */
    height: 200px; /* Alto de cada recuadro */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #d9a875; 
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    cursor: pointer;
    border-radius: 15px; 
    overflow: hidden;
}

.table1:hover {
    transform: scale(1.05); /* Efecto al pasar el mouse */
}


.table:hover {
    transform: scale(1.05); /* Efecto al pasar el mouse */
}

/* Imagen dentro del recuadro de mesa */
.table1 img {
    width: 60px; /* Tamaño reducido de la imagen */
    height: 60px;
    margin-bottom: 5px;
    border-radius: 20px;  
}

/* Estilos para las mesas individuales */
.table {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    width: 100%;
}

.tabla {
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    width: 100%;
    border-radius: 10px;
    border: 10px black;
}

.texto-historial {
    color: white;
}




@media (max-width: 700px) {
    /* Ajuste de contenedor para que todo se vea en una sola columna */
    .container {
        width: 100%;
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 40%;
        padding-bottom: 7%;
    }

    /* Coloca las secciones de salas en una columna */
    .room-sections {
        flex-direction: column;
        gap: 20px;
        height: 750px;
    }

    /* Cada categoría de sala ocupará toda la anchura */
    .room-category {
        width: 90%;
        height: 50%;
    }
    /* Contenedor principal */
    .container2 {
        width: 90%;
        padding: 3%;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 12px;
    }

    .container3 {
        width: 90%;
        padding: 3%;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 12px;
    }

    .container4 {
        text-align: center;
        background-image: url('./img/fondo.jpg'); /* Asegúrate de reemplazar 'ruta/a/tu/imagen/fondo.webp' con la ruta correcta de tu imagen */
        background-size: 200%; /* Ajusta el tamaño de la imagen al 50% del contenedor */
        background-position: center; /* Centra la imagen */
        background-repeat: no-repeat; /* Evita que la imagen se repita */
        background-position-y: 30px;
        width: 88%;
        padding-left: 5%;
        padding-right: 5%;
        border-radius: 12px;
        position: relative;
    }
    
    /* Imagen del encabezado */
    .header img.imgTerraza1 {
        width: 40%;
        max-width: 280px;
        margin-bottom: 15px;
   }
    
    h1 {
        font-size: 45px;
        text-align: center;
    }
    
    /* Ajuste de las mesas en columnas */
    .grid, .grid3 {
        display: flex;
        align-items: center;
        gap: 5px; /* Reduce el espacio entre mesas */
        width: 100%;
    }
    .grid2 {
        display: grid;
        grid-template-columns: repeat(5, 1fr); /* Cinco columnas */
        grid-template-rows: repeat(2, auto); /* Dos filas */
        gap: 20px; /* Espacio entre mesas */
        justify-items: center;
        margin: 0 auto;
        grid-template-areas: 
            "mesa1 mesa2 mesa3 mesa4 mesa5" /* Primera fila */
            "mesa6 mesa7 mesa8 mesa9 mesa10"; /* Segunda fila */
    }
    .grid4 {
        display: grid;
        grid-template-columns: repeat(5, 1fr); /* Cinco columnas */
        grid-template-rows: repeat(2, auto); /* Dos filas */
        gap: 20px; /* Espacio entre mesas */
        justify-items: center;
        margin: 0 auto;
        grid-template-areas: 
            "mesa1 mesa2 mesa3 mesa4 mesa5" /* Primera fila */
            "mesa6 mesa7 mesa8 mesa9 mesa10"; /* Segunda fila */
    }
    .grid6 {
        display: grid;
        grid-template-columns: repeat(5, 1fr); /* Cinco columnas */
        grid-template-rows: repeat(2, auto); /* Dos filas */
        gap: 2copx; /* Espacio entre mesas */
        justify-items: center;
        margin: 0 auto;
        grid-template-areas: 
            "mesa1 mesa2 mesa3 mesa4 mesa5" /* Primera fila */
            "mesa6 mesa7 mesa8 mesa9 mesa10"; /* Segunda fila */
    }
    .table img {
        width: 100%; 
        height: auto;
        margin-bottom: 10px;
    }
    /* Mesas */
    .table {
        width: 60%;
        max-width: 500px;
        padding: 10px;
        margin: 5px 0; 
        box-sizing: border-box;
        }
    
    /* Ajuste de texto en cada mesa */
    .table p {
        font-size: 14px;
        margin: 5px 0;
    }
    
    /* Botones de cerrar sesión y volver */
    .logout-button, .logout {
        font-size: 14px;
        padding: 10px 15px;
        width: 100%;
        max-width: 280px;
        margin: 8px 0;
    }
    .grid5 {
        display: flex;
        flex-wrap: nowrap; /* No se envuelven los elementos */
        justify-content: space-between; /* Espaciado entre los elementos */
    }
    
    .table1 {
        width: 80px; /* Ajustar el tamaño de los recuadros */
        height: 80px;
    }
    
    .table1 img {
        width: 50px; /* Reducir el tamaño de las imágenes */
        height: 50px;
    }

    .table1 p {
        font-size: 0.8em; /* Reducir el tamaño del texto */
    }
}